workDir = '/hpc/temp/_SR/Genomics/users/fwu/nextflow/work'

process {
    executor = 'slurm'
    queue = 'campus-new'
	errorStrategy = 'retry'
	maxRetries = 3
}

env {
	MPLCONFIGDIR = '/hpc/temp/_SR/Genomics/users/fwu/nextflow/cache'
	R_LIBS = '/fh/fast/_SR/Genomics/user/fwu/R/x86_64-pc-linux-gnu-library/4.1' 
}

report {
    enabled = true
    file = "nextflow.report.html"
    overwrite = true
}

params {
    cat_fastq = true
    run_alignment = false
    run_qc = false
    run_fastqc = false
    run_rnaseqc = false
    run_rseqc = false
    run_multiqc = false
}    
if (!params.run_alignment){
        params.run_rnaseqc = false
        params.run_rseqc = false
}

if (!params.run_qc) {
        params.run_fastqc = false
        params.run_rnaseqc = false
        params.run_rseqc = false
        params.run_multiqc = false
}
