workDir = '/hpc/temp/_SR/Genomics/users/fwu/nextflow/work'

process {
    executor = 'slurm'
    queue = 'campus-new'
	errorStrategy = 'retry'
	maxRetries = 3
}

env {
	MPLCONFIGDIR = '/hpc/temp/_SR/Genomics/users/fwu/nextflow/cache'
	R_LIBS = '/fh/fast/_SR/Genomics/user/fwu/R/x86_64-pc-linux-gnu-library/4.1' 
}

report {
    enabled = true
    file = "nextflow.report.html"
    overwrite = true
}