process {
	errorStrategy = 'retry'
	maxRetries = 3

    withLabel:process_single {
        cpus   = 1
        memory = '12G'
        time   = '1d'
    }

    withLabel:process_medium {
        cpus   = 6
        memory = '24G'
        time   = '1d'
    }

    withLabel:process_high {
        cpus   = 8
        memory = '48G'
        time   = '1d'
    }
}
