process {
    executor = 'slurm'
    queue = 'campus-new'
	errorStrategy = 'retry'
	maxRetries = 3

    withLabel:process_single {
        cpus   = 1
        memory = '12G'
        time   = '1d'
    }

    withLabel:process_high {
        cpus   = 6
        memory = '36G'
        time   = '1d'
    }
}
