/*
========================================================================================
    FLOW SWITCH
========================================================================================
*/

params {
    workflow = 'regular'
    
    run_input_check = true
    run_cut_adapt = true
    run_cat_fastq = false
    run_split_fastq = false
    run_alignment = true
    run_featurecounts = false
    run_qc = true
    run_fastqc = true
    run_rnaseqc = true
    run_rseqc = true
    run_hs_metrics = false
    run_multiqc = true
    run_de = true

    only_input = false
    only_alignment = false
    
}    

if (params.workflow == 'exome' ){
    params.run_hs_metrics = true
}

if (params.workflow == 'pdx' ){
    params.run_featurecounts = true
}


if (params.only_input){
    params.run_cat_fastq = false
    params.run_cut_adapt = false
    params.run_split_fastq = false
    params.run_alignment = false
    params.run_featurecounts = false
    params.run_qc = false
    params.run_fastqc = false
    params.run_rnaseqc = false
    params.run_rseqc = false
    params.run_hs_metrics = false
    params.run_multiqc = false
    params.run_de = false
    params.run_report = false
}

if (params.only_fastq){
    params.run_rnaseqc = false
    params.run_rseqc = false
    params.run_hs_metrics = false
    params.run_featurecounts = false
    params.run_de = false
    params.run_report = false
}

if (params.only_alignment){
    params.run_qc = false
    params.run_featurecounts = false
    params.run_de = false
    if(params.run_split_fastq){
        params.run_multiqc = false
        params.run_report = false
    }
}

if (params.run_qc == false) {
    params.run_fastqc = false
    params.run_rnaseqc = false
    params.run_rseqc = false
    params.run_hs_metrics = false
}

