/*
========================================================================================
    FLOW SWITCH
========================================================================================
*/

params {
    // under development
    //only_infer_experiment = false // only infer experiment
    //only_qc_fastq = false
    //only_qc_alignment = false

    params.run_update = false // --update is null

    only_build_index = false
    only_input = false
    only_merge_fastq = false
    only_split_fastq = false // not effective yet
    only_trim_fastq = false
    only_filter_fastq = false // filter graft-only reads
    only_alignment = false
    only_expression = false

    skip_alignment = false
    skip_expression = false
    skip_de = false
    skip_qc_alignment = false
    skip_qc_fastq = false
    skip_multiqc = false
    skip_report = false

    // subworkflow
    run_reference_check = true // build index, process gtf, etc.
    run_input_check = true // get fastq paths and generate sample sheet
    run_process_fastq = true
    run_alignment = true
    run_infer_experiment = true
    run_quant_genes = true
    run_quant_transcripts = true
    run_qc_fastq = true
    run_qc_alignment = true
    run_multiqc = true
    run_report = true


    // within a subworkflow
    run_build_index = false
    run_cat_fastq = false
    run_split_fastq = false
    run_cut_adapt = true
    run_gene_count = true
    run_de = true
    run_tx_count = true
    run_dt = true

    // specific tools
    run_featurecounts = false
    run_salmon = true
    run_arriba = true
    run_fastqc = true
    run_rnaseqc = true
    run_rseqc = true
    run_hs_metrics = false
    run_samtools = false
 
}    


/*
* pipeline options
*/

if (params.aligner == 'bwa-mem'){
    params.run_featurecounts = 'true'
}


/*
* skip tools or steps
*/

skip_tools = params.skip_tools.split(',').join()
if ('arriba' in skip_tools){
    params.run_arriba = false
}
if ('salmon' in skip_tools){
    params.run_salmon = false
    params.run_tx_count = false // should be removed if other tools are available for quantifying transcription
}

if (params.skip_alignment){ params.run_alignment = false }
if (params.skip_qc_fastq){ params.run_qc_fastq = false }
if (params.skip_qc_alignment){ params.run_qc_alignment = false }
if (params.skip_multiqc){ params.run_multiqc = false }
if (params.skip_report){ params.run_report = false }


/*
* step options, start from a later step and continue on to the end
*/

if (params.step in ["expression_quantification", "differential_expression"] || params.skip_alignment){
    params.run_alignment = false
}

if (params.step == "differential_expression"){
    params.run_reference_check = false
    params.run_gene_count = false
    params.run_tx_count = false
}


/*
* --only options
*/ 

if (params.only_build_index){
    params.run_input_check = false
    params.run_process_fastq = false
    params.gene_level = false
    params.run_infer_experiment = false
    params.transcript_expression = false
    params.gene_fusion = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false

}

if (params.only_input){
    params.run_reference_check = false
    params.run_process_fastq = false
    params.gene_level = false
    params.run_infer_experiment = false
    params.transcript_expression = false
    params.gene_fusion = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false

}

if (params.only_merge_fastq){
    params.run_cut_adapt = false
    params.run_split_fastq = false
    params.gene_level = false
    params.run_infer_experiment = false
    params.transcript_expression = false
    params.gene_fusion = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}

if (params.only_split_fastq){
    params.run_cut_adapt = false
    params.run_cat_fastq = false
    params.gene_level = false
    params.run_infer_experiment = false
    params.transcript_expression = false
    params.gene_fusion = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}

if (params.only_trim_fastq){
    params.gene_level = false
    params.run_infer_experiment = false
    params.transcript_expression = false
    params.gene_fusion = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}

// filter graft-only reads
if (params.only_filter_fastq){
    params.run_infer_experiment = false
    params.run_quant_genes = false
    params.transcript_expression = false
    params.gene_fusion = false
}

if (params.only_alignment){
    params.run_infer_experiment = false
    params.run_quant_genes = false
    params.run_quant_transcripts = false
    params.gene_fusion = false

}

if (params.only_expression){
    params.run_de = false
    params.run_dt = false
    params.gene_fusion = false
}

/*
* substep
*/
if (!params.run_qc_fastq){
    params.run_fastqc = false
}

if (params.run_qc_alignment){
    if (params.workflow == 'exome'){ params.run_hs_metrics = true }
    if (params.workflow == 'pdx'){ params.run_samtools = true }
}else{
    params.run_rnaseqc = false
    params.run_rseqc = false
    params.run_hs_metrics = false
    params.run_samtools = false
}


/*
* update options, only run one step
*/
if (params.update ){
    params.run_update = true
    params.run_process_fastq = false
    params.run_alignment = false
    params.run_infer_experiment = false
    params.run_quant_genes = false
    params.run_quant_transcripts = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}
if (params.update == 'gene_expression'){ 
    params.run_gene_count = true 
}

if (params.update == 'transcript_expression'){ 
    params.run_tx_count = true 
}

if (params.update == 'differential_genes'){ 
    params.run_de = true 
}
if (params.update == 'differential_transcripts'){ 
    params.run_dt = true 
}

if (params.update == 'report'){
    params.run_reference_check = false
    params.run_report = true
}
