/*
========================================================================================
    FLOW SWITCH
========================================================================================
*/

params {
    only_build_index = false
    only_input = false
    only_merge_fastq = false
    only_split_fastq = false // not effective yet
    only_filter_fastq = false // filter graft-only reads
    only_alignment = false

    run_input_check = true // get fastq paths and generate sample sheet
    run_process_fastq = true
    run_cat_fastq = false
    run_split_fastq = false
    run_cut_adapt = true

    run_reference_check = true // build index, process gtf, etc.
    run_build_index = false
    run_alignment = true
    run_featurecounts = false
    run_gene_count = true
    run_de = true

    run_salmon = false
    run_tx_count = false
    run_dt = false

    run_arriba = false

    run_qc_fastq = true
//    run_fastqc = true

    run_qc_alignment = true
//    run_rnaseqc = true
//    run_rseqc = true
//    run_hs_metrics = false
//    run_samtools = false

    run_multiqc = true
    run_report = true

}    

/*
* pipeline options
*/

if (params.step == "expression_quantification"){
    params.run_input_check = false
    params.run_reference_check = true
    params.run_process_fastq = false
    params.run_alignment = false
    params.run_gene_count = true
    params.run_tx_count = true
}else if (params.step == "differential_expression"){
    params.run_input_check = false
    params.run_reference_check = true
    params.run_process_fastq = false
    params.run_alignment = false
    params.run_gene_count = false
    params.run_tx_count = false
    params.run_de = true
    params.run_dt = true
}


if (params.transcript_expression){
    params.run_build_index = true
    params.run_reference_check = true
    params.run_salmon = true
    params.run_tx_count = true
    params.run_dt = true
}

if (params.gene_fusion){
    params.run_build_index = true
    params.run_reference_check = true
    params.run_arriba = true
}

if (params.qc_fastq){
    params.run_qc_fastq = true
}

if (params.qc_alignment){
    params.run_reference_check = true
    params.run_qc_alignment = true
}


/*
* --only and --step options
*/ 

if (params.only_build_index){
    params.run_build_index = true
    params.run_input_check = false
    params.run_reference_check = true
    params.run_process_fastq = false
    params.run_cut_adapt = false
    params.run_split_fastq = false
    params.run_alignment = false
    params.run_featurecounts = false
    params.run_gene_count = false
    params.run_de = false
    params.run_salmon = false
    params.run_dt = false
    params.run_arriba = false
    params.run_tx_count = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false

}

if (params.only_input){
    params.run_build_index = false
    params.run_input_check = true
    params.run_reference_check = false
    params.run_process_fastq = false
    params.run_cut_adapt = false
    params.run_split_fastq = false
    params.run_alignment = false
    params.run_featurecounts = false
    params.run_gene_count = false
    params.run_de = false
    params.run_salmon = false
    params.run_dt = false
    params.run_arriba = false
    params.run_tx_count = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false

}

if (params.only_merge_fastq){
    params.run_build_index = false
    params.run_input_check = true
    params.run_reference_check = false
    params.run_process_fastq = true
    params.run_cut_adapt = false
    params.run_split_fastq = false
    params.run_alignment = false
    params.run_featurecounts = false
    params.run_gene_count = false
    params.run_de = false
    params.run_salmon = false
    params.run_dt = false
    params.run_arriba = false
    params.run_tx_count = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}

// need to update, split fastq only but not other fastq processing
if (params.only_split_fastq){


}

// filter graft-only reads
if (params.only_filter_fastq){
    params.run_build_index = true
    params.run_input_check = true
    params.run_reference_check = true
    params.run_process_fastq = true
    params.run_alignment = true
    params.run_gene_count = false
    params.run_de = false
    params.run_salmon = false
    params.run_dt = false
    params.run_arriba = false
    params.run_tx_count = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false
}

if (params.only_alignment){
    params.run_build_index = true
    params.run_input_check = true
    params.run_reference_check = true
    params.run_process_fastq = true
    params.run_alignment = true
    params.run_featurecounts = false
    params.run_gene_count = false
    params.run_de = false
    params.run_salmon = false
    params.run_dt = false
    params.run_arriba = false
    params.run_tx_count = false
    params.run_qc_fastq = false
    params.run_qc_alignment = false
    params.run_multiqc = false
    params.run_report = false

}

/*
* second level
*/
if (params.run_qc_fastq){
    params.run_fastqc = true
}else{
    params.run_fastqc = false
}

if (params.run_qc_alignment){
    params.run_reference_check = true
    params.run_rnaseqc = true
    params.run_rseqc = true
    if (params.workflow == 'exome'){ params.run_hs_metrics = true }
    if (params.workflow == 'pdx'){ params.run_samtools = true }
}else{
    params.run_rnaseqc = false
    params.run_rseqc = false
    params.run_hs_metrics = false
    params.run_samtools = false
}
