params {
    outdir = './Analysis'
    publish_dir_mode = 'copy'
}


/*
========================================================================================
    MODULES
========================================================================================
*/

process {
    withName: CHECK_INPUT {
        publishDir = [
            path: { "${params.outdir}/pipeline_info/" },
            mode: "${params.publish_dir_mode}",
            pattern: 'samplesheet.valid.csv',
            enabled: true
        ]   
    }

    withName: CUTADAPT {
        publishDir = [
            path: { "${params.outdir}/trimmed_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.gz',
            enabled: false
        ]   
    }

    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/merged_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.gz',
            enabled: false
        ]   
    }

    withName: SPLIT_FASTQ {
        ext.args = "-s 50000000 -O ./ -f -e .gz "
        publishDir = [
            path: { "${params.outdir}/split_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*part_*.gz',
            enabled: false
        ]   
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/QC/fastqc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{html,zip}',
            enabled: true
        ]   
    }

    withName: FASTQC_TRIMMED {
        publishDir = [
            path: { "${params.outdir}/QC/fastqc_trimmed/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{html,zip}',
            enabled: true
        ]   
    }

    withName: STAR {
        ext.args = "--sjdbOverhang 100 	--quantMode TranscriptomeSAM GeneCounts --outSAMattributes NH HI NM MD AS XS --outSAMheaderHD @HD VN:1.4"
        publishDir = [
            path: { "${params.outdir}/BAM/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: STAR_HOST {
        publishDir = [
            path: { "${params.outdir}/BAM/${params.genome_host}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: SALMON {
        publishDir = [
            path: { "${params.outdir}/Salmon/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: ARRIBA {
        publishDir = [
            path: { "${params.outdir}/Arriba/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: BWA_MEM {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/BAM/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: false
        ]   
    }

    withName: '.*:BWA_MEM_HOST' {
        publishDir = [
            path: { "${params.outdir}/BAM/${params.genome_host}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: false
        ]   
    }

    withName: XENOFILTER {
        publishDir = [
            path: { "${params.outdir}/BAM/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*",
            enabled: true
        ]   
    }

    withName: '.*:BAM_TO_FASTQ' {
        ext.args = " "
        publishDir = [
            path: { "${params.outdir}/bam_to_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: MERGE_BAM {
        publishDir = [
            path: { "${params.outdir}/mergedBAM/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${params.outdir}/QC/samtools/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: RNASEQC {
        publishDir = [
            path: { "${params.outdir}/QC/rnaseqc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: RSEQC {
        publishDir = [
            path: { "${params.outdir}/QC/rseqc/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{txt,pdf,r,bed,log,xls,xlsx}",
            enabled: true
        ]   
    }

    withName: FEATURECOUNTS {
        publishDir = [
            path: { "${params.outdir}/featurecounts/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{txt,summary}",
            enabled: true
        ]   
    }

    withName: HS_METRICS {
        publishDir = [
            path: { "${params.outdir}/QC/gatk/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{hs_metrics.txt}",
            enabled: true
        ]   
    }

    withName: GENERATE_COUNT_MATRIX {
        publishDir = [
            [
                path: { "${params.outdir}/gene_expression/" },
                mode: "${params.publish_dir_mode}",
                pattern: "all_samples.*",
                enabled: true
            ],
            [
                path: { "saved_data/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.rds",
                enabled: true
            ],
            
        ]   
    }

    withName: DIFFERENTIAL_EXPRESSION {
        publishDir = [
            [
                path: { "${params.outdir}/differential_expression/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*_vs_*",
                enabled: true
            ],
            [
                path: { "${params.outdir}/differential_expression/" },
                mode: "${params.publish_dir_mode}",
                pattern: "all_samples*",
                enabled: false
            ],
            [
                path: { "saved_data/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.rds",
                enabled: true
            ],
            
        ]   
    }
    
        withName: DIFFERENTIAL_TRANSCRIPTS {
        publishDir = [
            [
                path: { "${params.outdir}/differential_transcripts/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*_vs_*",
                enabled: true
            ],
            [
                path: { "${params.outdir}/differential_transcripts/" },
                mode: "${params.publish_dir_mode}",
                pattern: "all_samples*",
                enabled: true
            ],
            [
                path: { "saved_data/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.rds",
                enabled: true
            ],
            
        ]   
    }

    withName: GENERATE_REPORT {
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.html",
                enabled: true
            ],
            [
                path: { "saved_data/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.{rds,Rmd}",
                enabled: true
            ]
        ]   
    }

    withName: MULTIQC {
        publishDir = [
            [
                path: { "${params.outdir}/MultiQC" },
                mode: "${params.publish_dir_mode}",
                pattern: "multiqc_data",
                enabled: true
            ],
            [
                path: { "${params.outdir}/MultiQC" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.html",
                enabled: true
            ]
        ]   
    }

}

