========================================================================================
    GENERAL
========================================================================================
*/

process {
    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/QC/fastqc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{html,zip}',
            enabled: true
        ]   
    }

    withName: OUTPUT_PARAMS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]        
    }

}

