
/*
========================================================================================
    MODULES
========================================================================================
*/

process {
    withName: CAT_GENOME_FA {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: params.save_reference
        ]
    }

    withName: CAT_GTF {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/references/${params.genome}" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: params.save_reference
        ]
    }

    withName: MAKE_STAR {
        ext.args = ""
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: 'STAR2Index',
                enabled: params.only_build_index || params.save_reference
            ]
    }

    withName: MAKE_BWA {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: 'BWAIndex',
                enabled: params.only_build_index || params.save_reference
            ]
    }

    withName: GTF2BED {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.bed',
                enabled: params.save_reference
            ]
    }

    withName: GTF2FASTA {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.fa',
                enabled: params.save_reference
            ]
    }

    withName: COLLAPSE_GTF {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.gtf',
                enabled: params.save_reference
            ]
    }

    withName: GTF2GENES {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.txt',
                enabled: params.save_reference
            ]
    }

    withName: GTF2TRANSCRIPTS {
        ext.args = " "
        publishDir = [
                path: { "${params.outdir}/references/${params.genome}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.txt',
                enabled: params.save_reference
            ]
    }

    withName: GET_FASTQ_PATHS {
        publishDir = [
                path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: 'input.csv',
                enabled: false
            ]
    }

    withName: GET_INPUT {
        publishDir = [
            [
                path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: 'samplesheet.valid.csv',
                enabled: true
            ],
            [
                path: { "${params.outdir}/csv/" },
                mode: "${params.publish_dir_mode}",
                pattern: 'samplesheet.valid.csv',
                enabled: true
            ],
        ]   
    }

    withName: CUTADAPT {
        ext.args = "--nextseq-trim=20 -m 20 --overlap 3"
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.startsWith('trimmed_fastq') ? fn : null },
                enabled: params.save_trimmed_fastq
            ],
            [
                path: { "${params.outdir}/${params.cutadapt_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.json',
                enabled: params.run_cut_adapt
            ]
        ]   
    }

    withName: TRIMGALORE {
        ext.args = "--nextseq 20 "
        publishDir = [
            [
                path: { "${params.outdir}/trimmed_fastq/" },
                mode: "${params.publish_dir_mode}",
                pattern: '*_val_*.fq.gz',
                enabled: params.save_trimmed_fastq
            ],
            [
                path: { "${params.outdir}/${params.trimgalore_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.{json,txt}',
                enabled: params.run_cut_adapt
            ]
        ]   
    }

    withName: FASTP {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.startsWith('trimmed_fastq') ? fn : null },
                enabled: params.save_trimmed_fastq
            ],
            [
                path: { "${params.outdir}/${params.fastp_dir}" },
                mode: "${params.publish_dir_mode}",
                pattern: '*.{json,html}',
                enabled: params.run_cut_adapt
            ]
        ]   
    }

    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/merged_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.gz',
            enabled: false
        ]   
    }

    withName: SPLIT_FASTQ {
        ext.args = "-O ./ -f -e .gz "
        publishDir = [
            path: { "${params.outdir}/split_fastq/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*part_*.gz',
            enabled: false
        ]   
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/${params.fastqc_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{html,zip}',
            enabled: true
        ]   
    }

    withName: FASTQC_TRIMMED {
        publishDir = [
            path: { "${params.outdir}/${params.fastqc_trimmed_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{html,zip}',
            enabled: true
        ]   
    }

    withName: STAR {
        ext.args = ""
        ext.rg = "CN:FredHutch"
        publishDir = [
            [
                path: { "${params.outdir}/${params.star_dir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn ->
                    fn.startsWith('output') ? null :
                    fn.endsWith('bam') ? fn :
                    fn.endsWith('bai') ? fn :
                    fn.endsWith('Log.final.out') ? null :
                    fn.endsWith('versions.yml') ? null :
                    "_work/${fn}"
                },
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.star_log_dir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.endsWith('Log.final.out') ? fn : null },
                enabled: true
            ]
        ]   
    }

    withName: 'CHECK_EXPERIMENT:STAR' {
        publishDir = [
            enabled = false
        ]
    }

    withName: INFER_EXPERIMENT {
        publishDir = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            pattern: "infer_experiment.csv",
            enabled: true
        ]   
    }

    withName: SALMON {
        publishDir = [
            path: { "${params.outdir}/${params.salmon_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: true
        ]   
    }

    withName: ARRIBA {
        publishDir = [
            path: { "${params.outdir}/${params.arriba_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('bam') ? fn :
                fn.endsWith('bai') ? fn :
                fn.endsWith('fusions.tsv') ? fn :
                fn.endsWith('versions.yml') ? null :
                fn.endsWith('_STARtmp') ? null :
                "_work/${fn}"
            },
            enabled: true
        ]   
    }

    withName: BWA_MEM {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${params.bwa_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: true
        ]   
    }

    withName: 'CHECK_EXPERIMENT:BWA_MEM' {
        enabled = false
    }

    withName: MERGE_BAM {
        publishDir = [
            path: { "${params.outdir}/merged_bam/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: false
        ]   
    }

    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${params.outdir}/${params.samtools_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: true
        ]   
    }

    withName: RNASEQC {
        publishDir = [
            path: { "${params.outdir}/${params.rnaseqc_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.endsWith('versions.yml') ? null : fn 
            },
            enabled: true
        ]   
    }

    withName: RSEQC {
        publishDir = [
            path: { "${params.outdir}/${params.rseqc_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{txt,pdf,r,bed,log,xls,xlsx}",
            enabled: true
        ]   
    }

    withName: FEATURECOUNTS {
        publishDir = [
            path: { "${params.outdir}/${params.featurecounts_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{txt,summary}",
            enabled: true
        ]   
    }

    withName: HS_METRICS {
        publishDir = [
            path: { "${params.outdir}/${params.gatk_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*.{hs_metrics.txt}",
            enabled: true
        ]   
    }

    withName: GENERATE_GENE_COUNT_MATRIX {
        publishDir = [
            [
                path: { "${params.outdir}/${params.gene_expr_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "all_samples.*",
                enabled: true
            ]
            
        ]   
    }

    withName: DIFFERENTIAL_GENES {
        publishDir = [
            [
                path: { "${params.outdir}/${params.de_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*_vs_*",
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.de_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.txt",
                enabled: true
            ],
            [
                path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "comparisons.differential_genes.csv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.de_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "comparisons.differential_genes.csv",
                enabled: true
            ]

            
        ]   
    }

    withName: GENERATE_TRANSCRIPT_COUNT_MATRIX {
        publishDir = [
            [
                path: { "${params.outdir}/${params.tx_expr_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "all_samples.*",
                enabled: true
            ]
            
        ]   
    }

        withName: DIFFERENTIAL_TRANSCRIPTS {
        publishDir = [
            [
                path: { "${params.outdir}/${params.dt_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*_vs_*",
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.dt_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.txt",
                enabled: true
            ],
            [
                path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "comparisons.differential_transcripts.csv",
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.dt_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "comparisons.differential_transcripts.csv",
                enabled: true
            ]

        ]   
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/${params.multiqc_dir}" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn -> fn.endsWith('versions.yml') ? null : fn },
            enabled: params.run_multiqc
        ]   
    }

    withName: RENDER_REPORT {
        publishDir = [
            [
                path: { "${params.outdir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.html",
                enabled: true
            ],
            [
                path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
                mode: "${params.publish_dir_mode}",
                pattern: "*.{Rmd,rmd}",
                enabled: true
            ]
        ]   
    }

    withName: WRITE_CSV_TRIM_FASTQ {
        publishDir = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn -> fn.endsWith('versions.yml') ? null : fn },
            enabled: params.only_trim_fastq || params.save_trimmed_fastq
        ]   
    }

    withName: WRITE_CSV {
        publishDir = [
            path: { "${params.outdir}/csv/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn -> fn.endsWith('versions.yml') ? null : fn },
            enabled: true
        ]   
    }

    withName: RENAME_OUTPUT {
        publishDir = [
            path: { "${params.outdir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn -> fn.endsWith('versions.yml') ? null : fn },
            enabled: true
        ]   
    }

    withName: WRITE_JSON {
        publishDir = [
            path: { "${params.outdir}/pipeline_info/${params.info_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn -> fn.endsWith('versions.yml') ? null : fn },
            enabled: true
        ]   
    }

}

