/*
========================================================================================
    FLOW SWITCH
========================================================================================
*/

params {
    // under development
    //only_infer_experiment = false // only infer experiment
    //only_qc_fastq = false
    //only_qc_alignment = false

    params.run_update = false // --update is null

    only_build_index = false
    only_input = false
    only_merge_fastq = false
    only_split_fastq = false // not effective yet
    only_trim_fastq = false
    only_filter_fastq = false // filter graft-only reads
    only_alignment = false
    only_expression = false

    skip_alignment = false
    skip_expression = false
    skip_de = false
    skip_qc_alignment = false
    skip_qc_fastq = false
    skip_multiqc = false
    skip_report = false

    // subworkflow
    run_reference_check = true // build index, process gtf, etc.
    run_input_check = true // get fastq paths and generate sample sheet
    run_process_fastq = true
    run_alignment = true
    run_infer_experiment = true
    run_quant_genes = true
    run_quant_transcripts = true
    run_qc_fastq = true
    run_qc_alignment = true
    run_multiqc = true
    run_report = true


    // within a subworkflow
    run_build_index = false
    run_cat_fastq = false
    run_split_fastq = false
    run_cut_adapt = true
    run_gene_count = true
    run_de = true
    run_tx_count = true
    run_dt = true

    // specific tools
    run_featurecounts = false
    run_salmon = true
    run_arriba = true
    run_fastqc = true
    run_rnaseqc = true
    run_rseqc = true
    run_hs_metrics = false
    run_samtools = false
 
}    


