
/*
========================================================================================
    MODULES
========================================================================================
*/

process {

    withName: '.*:STAR' {
        ext.args = ""
        ext.rg = "CN:FredHutch"
        publishDir = [
            [
                path: { "${params.outdir}/${params.star_dir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn ->
                fn.startsWith('output') ? null :
                fn.endsWith('bam') ? fn :
                fn.endsWith('bai') ? fn :
                fn.endsWith('Log.final.out') ? null :
                fn.endsWith('versions.yml') ? null :
                "_work/${fn}"
                },
                enabled: true
            ],
            [
                path: { "${params.outdir}/${params.star_log_dir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.endsWith('Log.final.out') ? fn : null },
                enabled: true
            ]
        ]   
    }

    withName: '.*:STAR_HOST' {
        ext.args = ""
        ext.rg = "CN:FredHutch"
        publishDir = [
            [
                path: { "${params.outdir}/${params.star_host_dir}/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.startsWith('output') ? null :
                fn.endsWith('bam') ? fn :
                fn.endsWith('bai') ? fn :
                "_work/${fn}"
            },
            enabled: true
            ],
            [
                path: { "${params.outdir}/${params.star_log_host_dir}/" },
                mode: "${params.publish_dir_mode}",
                saveAs: { fn -> fn.endsWith('Log.final.out') ? fn : null },
                enabled: true
            ]
        ]   
    }

    withName: '.*:XENOFILTER' {
        publishDir = [
            path: { dir ->
                params.aligner == 'star' ? "${params.outdir}/${params.star_xeno_dir}/" :
                params.aligner == 'bwa-mem' ? "${params.outdir}/${params.bwa_xeno_dir}/" : 
                "${params.outdir}/XenofilteR/${params.genome}/"
                },
            mode: "${params.publish_dir_mode}",
            pattern: "*",
            enabled: !params.split_fastq
        ]   
    }

    withName: '.*:BWA_MEM' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${params.bwa_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:BWA_MEM_HOST' {
        publishDir = [
            path: { "${params.outdir}/${params.bwa_host_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:BAM_TO_FASTQ' {
        ext.args = " "
        publishDir = [
            path: { "${params.outdir}/graft_only_reads/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: params.only_filter_fastq
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW' {
        publishDir = [
            path: { "${params.outdir}/${params.samtools_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW_HOST' {
        publishDir = [
            path: { "${params.outdir}/${params.samtools_host_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW_XENO' {
        publishDir = [
            path: { "${params.outdir}/${params.samtools_xeno_dir}/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

}

