
/*
========================================================================================
    MODULES
========================================================================================
*/

process {

    withName: '.*:STAR' {
        ext.args = "--sjdbOverhang 100 --quantMode TranscriptomeSAM GeneCounts --outSAMattributes NH HI NM MD AS XS --outSAMheaderHD @HD VN:1.4 "
        publishDir = [
            path: { "${params.outdir}/STAR/${params.genome}/_unfiltered/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.startsWith('output') ? null :
                fn.endsWith('bam') ? fn :
                fn.endsWith('bai') ? fn :
                "_work/${fn}"
            },
            enabled: true
        ]   
    }

    withName: '.*:STAR_HOST' {
        ext.args = "--sjdbOverhang 100 --quantMode TranscriptomeSAM GeneCounts --outSAMattributes NH HI NM MD AS XS --outSAMheaderHD @HD VN:1.4 "
        publishDir = [
            path: { "${params.outdir}/STAR/${params.genome_host}/_unfiltered/" },
            mode: "${params.publish_dir_mode}",
            saveAs: { fn ->
                fn.startsWith('output') ? null :
                fn.endsWith('bam') ? fn :
                fn.endsWith('bai') ? fn :
                "_work/${fn}"
            },
            enabled: true
        ]   
    }

    withName: '.*:XENOFILTER' {
        publishDir = [
            path: { "${params.outdir}/STAR/${params.genome}/" },
            mode: "${params.publish_dir_mode}",
            pattern: "*",
            enabled: true
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW' {
        publishDir = [
            path: { "${params.outdir}/QC/samtools/${params.genome}/_unfiltered/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW_HOST' {
        publishDir = [
            path: { "${params.outdir}/QC/samtools/${params.genome_host}/_unfiltered/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

    withName: '.*:SAMTOOLS_VIEW_XENO' {
        publishDir = [
            path: { "${params.outdir}/QC/samtools/${params.genome}/_filtered/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]   
    }

}

