workDir = '/hpc/temp/_SR/Genomics/users/nextflow/rnaseq/work'

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/fh/fast/_SR/Genomics/proj/fwu/nextflow/cache'
    runOptions = '--containall --no-home --bind \${SINGULARITY_TMPDIR}:/hpc/temp/_SR/Genomics/users/nextflow/cache'
    pullTimeout = '60 min'
    tmp = 'auto'
}

process {
    executor = 'slurm'
    queue = 'campus-new'
	errorStrategy = 'retry'
	maxRetries = 3
}

env {
	MPLCONFIGDIR = '/hpc/temp/_SR/Genomics/users/nextflow/cache'
    SINGULARITY_TMPDIR = '/hpc/temp/_SR/Genomics/users/nextflow/cache'
    TMPDIR = '/hpc/temp/_SR/Genomics/users/nextflow/cache'
    R_LIBS = '/fh/fast/_SR/Genomics/proj/fwu/R/4.1' 
}


params {
    workflow = 'regular'
    outdir = './Analysis/'
    publish_dir_mode = 'copy'
    local_assets = '/fh/fast/_SR/Genomics/proj/fwu/nextflow/rnaseq/assets'

}


/*
========================================================================================
    MODULES
========================================================================================
*/

